<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fritz_179 >>> Terraria</title>

    <%- include('libraries', {fritz: 3}) %>

    <script src="./main.js"></script>

  </head>
  <body oncontextmenu="return false;">
    <canvas id='screen'></canvas>
  </body>
</html>
