<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JAPS</title>
  </head>
  <body>
    <link rel="stylesheet" href="./style.css">
    <canvas id="screen"></canvas>
    <script src="./out/main.js" type="module" charset="utf-8"></script>
  </body>
</html>