<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>RISC-F</title>

  </head>
  <body>

    <%- include('navbar') %>

    <div class="main print">
      <textarea id="source" cols="80" rows="15">
        ldi a, 0
        ldi b, 1 ; Initialize to 1 and 0
        loop:

        add a, b ; a is newest number
        mov c, a

        add b, a ; b is newest number
        mov c, b

        jmp loop ; infinite loop

      </textarea>
      <br>
      <button id="parse">Parse!</button>

      <pre id="output"></pre>

      <script type="module" src="./main.js" charset="utf-8"></script>
    </div>

    <%- include('footer') %>
  </body>

  <link rel="stylesheet" href="./style.css">
</html>
