<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>RISC-F</title>

  </head>
  <body>

    <%- include('navbar') %>

    <div class="main print">
      <textarea id="source" cols="80" rows="15">
        ldi a, vram     ; *vram
        lod a, a        ; vram

        ldi b, 0        ; x position
        ldi c, 0        ; y position

        col:
        row:

        ldi si, 1
        add di, b, c    ; x + y
        and di, si      ; check parity
        sto a, di       ; store parity
        inc a

        inc b
        jmp row

        add b, di
        jmp col
        vram: dw 0xfe00

      </textarea>
      <br>
      <button id="parse">Parse!</button>
      <button id="run">Run!</button>
      <button id="low">Write LOW bytes!</button>
      <button id="high">Write HIGH bytes!</button>

      <pre id="output"></pre>

      <script type="module" src="./main.js" charset="utf-8"></script>
    </div>

    <%- include('footer') %>
  </body>

  <link rel="stylesheet" href="./style.css">
</html>
