<!DOCTYPE html>
<html>
  <head>
    <title>Fritz_179 >>> Block_Racer</title>

    <%- include('libraries', {fritz: true}) %>

    <script src="./Player.js"></script>
    <script src="./LevelSelection.js"></script>
    <script src="./MainMenu.js"></script>
    <script src="./Shooter.js"></script>

    <script src="./main.js"></script>

  </head>
  <body>
    <div id='screen'></div>
  </body>
</html>
