html {
  background: var(--secondary);
  min-width: 40rem;
}

.error {
  padding: 4rem;
  margin: 5rem auto;
  width: 70%;
  max-width: 50rem;

  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 2rem;
  border: var(--border);
  box-shadow: var(--shadow);
}

h1 {
  font-size: 55px;
  margin-bottom: 0;
}

.btn {
  margin-left: 0;
}

footer {
  background: var(--primary);
  width: 100%;
  margin-top: 2.5rem;
}

footer .copy {
  padding: 0;
}
