<!doctype html>
<html lang="en">
  <head>
    <title><%= site.title %></title>
    <link rel="stylesheet" href="/libraries/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libraries/style.css">
  </head>

  <body>
