<link rel="stylesheet" href="/template/navbar.css"/>
<link rel="stylesheet" href="/template/style.css"/>

<nav class="main-nav">
  <ul id="left">
    <li><a class="link" href="/">Fritz_179</a></li>
    <li><a class="link" href="/">Home</a></li>
    <li><a class="link" href="/">About</a></li>
  </ul>
  <form id="center">
    <input type="text" placeholder="Search"/>
    <a href="/search" class="btn">Search</a>
  </form>
  <ul id="right">
    <li><a class="link" href="#">Version 3.1.4</a></li>
    <li><a class="link" href="/users/report">Report Bug</a></li>
    <% if (!user) { %>
      <li><a class="link" href="/users/login">Login</a></li>
    <% } else { %>
      <li><a class="link" href="/users/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>
