.title {
  background: #e9ecef;
  text-align: center;
  padding: 2rem;
}

.title #welcome {
  margin: 0;
  font-size: 2.5rem;
}

.title #description {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
  font-family: roboto-light;
}
