<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tournaments</title>
</head>
<body>
  <link rel="stylesheet" href="./style.css">

  <%- include('navbar') %>

  <div class="tournaments-wrapper">
    <section class="tournaments">
      <h1>Niclas Crameri vs Fritz A.I.</h1>
      <p>Epic battle between the self-proclaimed best San Carlo chess player and the unbeatable Fritz A.I.</p>
      <p>The battle took place at the Flora restaurant the 22.05.2020 at 22:45, the prize was 5.-CHF</p>
      <p>
        After the first moves Niclas was ahead by a pawn, but full of self confidence he started clearing the board without
        paying much attention to the Fritz A.I, that in a few moves turned the table around, and now Niclas found himself
        in a non-ideal situation, Niclas started sweating, and after a few minutes he resigned itself and the game is brought
        home by the Fritz A.I. which still remains unbeatable to these days.
       </p>
      <div class="imgs">
        <img src="./_server/niclas.jpg" alt="Niclas">
        <img src="./_server/5.jpg" alt="5.-CHF">
      </div>
    </section>
  </div>

  <%- include('footer') %>
</body>
</html>
