<!DOCTYPE html>
<html>
  <head>
    <title>Fritz_179</title>

    <%- include('navbar') %>

    <script type="module" src="./js/main.js"></script>
    <style>
      body {
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      #screen {
           display: block;
           image-rendering: pixelated;
       }
    </style>
  </head>

  <body>
    <canvas id="screen" width="640" height="640"><canvas>
  </body>

</html>
