<!DOCTYPE html>
<html>
  <head>
    <%- include('libraries', {socket: true}) %>

    <script src="../Chessboard.js"></script>
    <script src="../Piece.js"></script>
    <script src="./PlayerChessboard.js"></script>
    <script src="./sketch.js"></script>

  </head>
  <body>
  </body>
</html>
