html {
  background: var(--secondary);
  min-width: 40rem;
}

.waiting-wrapper {
  padding: 6rem;
  margin: auto;
  max-width: 70rem;
}

.waiting {
  padding: 4rem;

  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 2rem;
  border: var(--border);
  box-shadow: var(--shadow);
}

.waiting h1 {
  font-family: roboto;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.waiting #info {
  font-family: roboto;
  font-size: 1rem;
  margin-top: 0.25rem;
}

footer {
  background: var(--primary);
  width: 100%;
  margin-top: 2.5rem;
}

footer .copy {
  padding: 0;
}
