<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fritz_179 >>> Amazon</title>

    <%- include('libraries', {fritz: 1}) %>

    <script src="./Options.js"></script>
    <script src="./Play.js"></script>

    <script src="./main.js"></script>

  </head>
  <body>
    <div id='screen'></div>
  </body>
</html>
