<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VPR6 </title>
  <%- include('libraries', {socket: true}) %>
</head>
<body>
  <!-- <video autoplay class="local-video" id="local-video"></video> -->
  <p id="status">Starting</p>
  <div class="select">
    <div>
      <label for="audioOutput">Dove al ven fo: </label><select id="audioOutput"></select>
    </div>
    <div>
      <label for="audioInput">Dove l'entra: </label><select id="audioInput"></select>
    </div>
  </div>
  <div class="name">
    <label for="name">Al te nom :</label>
    <input id="name">
  </div>
  <div class="master-volume">
    <label for="master-volume">Volüm principal:</label>
    <input type="range" id="master-volume" min="0" max="1" value="1" step="0.01">
  </div>
  <div id="container">
  </div>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
