<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VPR6 </title>
  <%- include('libraries', {socket: true}) %>
</head>
<body>
  <!-- <video autoplay class="local-video" id="local-video"></video> -->
  <div id="container"></div>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
