<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fritz_179 >>> Terraria</title>

    <%- include('libraries', {fritz: 1}) %>

    <script src="./Player.js"></script>
    <script src="./MainMenu.js"></script>
    <script src="./Shooter.js"></script>

    <script src="./main.js"></script>

  </head>
  <body>
    <div id='screen'></div>
  </body>
</html>
