<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

  </head>
  <body>

    <%- include('navbar') %>

    <!-- Articles -->
    <div class="article-wrapper">
      <section class="article">
        <h1>Write your article!</h1>
        <form method="post" action="/articles/add">
          <div><label>Title:</label><input class="field" name="title" type="text" autofocus/></div>
          <div><label>Body:</label><textarea class="field" name="body"></textarea></div>
          <input class="btn" type="submit" value="Submit">
        </form>
        <%- include('footer') %>
      </section>
    </div>

  </body>

  <link rel="stylesheet" href="./style.css">
</html>
