<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

  </head>
  <body>

    <%- include('navbar') %>

    <div class="main print">
      <textarea id="source" cols="80" rows="15">


        ; Stack starts from 0fefd to 0x0000
        ldi a, 0xfefd
        xor sp, sp
        or  sp, a

        ; Prepare stack, argc, *argv[]
        .equ argc 0xfeff
        .equ argv 0xfefe
        ldi a, argc
        sto a, pc
        ldi a, argv
        sto a, pc

        ; populate argc and argv
        ldi a, input      ; Start of string to parse \n terminated



        input: dw "Salve Salvini", 10


      </textarea>
      <br>
      <button id="parse">Parse!</button>
      <button id="low">Copy LOW Bytes!</button>
      <button id="high">Copy HIGH Bytes!</button>
      <button id="simulate">Simulate!</button>
      <pre id="print" class="print"></pre>
      <pre id="pre"></pre>

      <script type="module" src="./main.js" charset="utf-8"></script>
    </div>

    <%- include('footer') %>
  </body>

  <link rel="stylesheet" href="./style.css">
</html>
