<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>16 FASM</title>

  </head>
  <body>

    <%- include('navbar') %>

    <div class="main print">
      <textarea id="source" cols="80" rows="15">
        start:

        ; Copy from start to 0x20 (END) to RAM
        ldi c, 0x20
        ldi a, 0
        ldi si, 1

        loop:
        lod b, a ; b = [a] => load from EEPROM to register
        sto a, b ; [a] = b => store to RAM from register
        add a, si ; increment a

        sub b, a, c
        jc loop

        CRY

        ldi a, 0
        ldi a, 1
        b:
        ldi b, 0
        ldi b, 1
        jmp b

        end: dw 0x20 ; Not the end...
      </textarea>
      <br>
      <button id="parse">Parse!</button>
      <button id="low">Copy LOW Bytes!</button>
      <button id="high">Copy HIGH Bytes!</button>
      <button id="simulate">Simulate!</button>
      <pre id="print" class="print"></pre>
      <pre id="pre"></pre>

      <script type="module" src="./main.js" charset="utf-8"></script>
    </div>

    <%- include('footer') %>
  </body>

  <link rel="stylesheet" href="./style.css">
</html>
