<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fritz Manager</title>

    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <section id="header">
      <div id="links">

      </div>

      <div id="custom">
        <p>#</p>
      </div>
    </section>

    <section id="create">
      <p>sdf</p>
    </section>

    <section id="page">

    </section>

    <script src="./main.js"></script>
  </body>
</html>
