<%- include('../header', {title: projectName}) %>

<%- include('../navbar', {notFixed: true}) %>

  <link rel="stylesheet" href="/projects/style.css">


  <div id="iframeContainer">
    <iframe id='iframe' src="<%= `/projects/${projectName}/index.html` %>">
      <p>Your browser does not support iframes. :-(</p>
    </iframe>
  </div>

  <script>
    window.onresize = () => {
      nav = document.getElementById('nav').clientHeight
      // con = document.getElementById('iframeContainer').clientHeight
      // document.getElementById('nav-placeholder').style.height = nav + 'px'
      document.getElementById('iframe').style.height = (window.innerHeight - nav) + 'px'
      // console.log(window.innerHeight, nav, window.innerHeight - nav);
    }
    window.onresize()
  </script>

<%- include('../footer') %>
