<%- include('../header', {title: projectName}) %>

<%- include('../navbar', {notFixed: true}) %>

  <script src="/projects/projects.js"></script>
  <style> body {overflow: hidden;} </style>

  <div id="iframeContainer" disabled>
    <iframe id='iframe' src="<%= `/projects/${projectName}/index.html` %>" disabled>
      <p>Your browser does not support iframes. :-(</p>
    </iframe>
  </div>

<%- include('../footer') %>
