<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Balanzin</title>

    <%- include('navbar') %>
  </head>
  <body>

    <link href="./style.css" rel="stylesheet"></link>

    <canvas id="canvas"></canvas><br>

    <input type="range" id="lenInput" value="10" min="1" max="60">
    <label for="lenInput">Secondi</label><br>

    <input type="range" id="pValue" value="0.02" min="0" max="0.1" step="0.0005">
    <label for="pValue">P</label><br>

    <input type="range" id="iValue" value="0.02" min="0" max="0.1" step="0.0005">
    <label for="iValue">I</label><br>

    <input type="range" id="dValue" value="0.02" min="0" max="0.1" step="0.0005">
    <label for="dValue">D</label><br>

    <input type="range" id="offset" value="0.001" min="0" max="0.01" step="0.0005">
    <label for="offset">Flusso in entrata</label><br>

    <script src="./main.js" type="module" charset="utf-8"></script>
  </body>
</html>
