<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Balanzin</title>

    <%- include('navbar') %>
  </head>
  <body>

    <link href="./style.css" rel="stylesheet"></link>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


    <script src="./useCanvas.js" type="text/babel"></script>
    <script src="./ICanvas.js" type="text/babel"></script>
    <script src="./UCanvas.js" type="text/babel"></script>
    <script src="./main.js" type="text/babel"></script>

    <div id="root"><div>
  </body>
</html>
