<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

  </head>
  <body>

    <%- include('navbar') %>

    <!-- Articles -->
    <div class="login-wrapper">
      <section class="login">
        <h1>Login</h1>
        <form method="post" action="<%= '/users/login?from=' + locals.from || '' %>">
          <div><label>Username:</label><input name="username" type="text" autofocus></div>
          <div><label>Password:</label><input name="password" type="password"></div>
          <input class="btn" type="submit" value="Log in">
        </form>
        <h6>Don't you have an account? <a class="link" href='/users/register'>click here to create a new one.</a></h6>
        <%- include('footer') %>
      </section>
    </div>

  </body>

  <link rel="stylesheet" href="./style.css">
</html>
