<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fritz_179 >>> TEST</title>

    <%- include('libraries', {fritz: 3}) %>
    <script src="./main.js"></script>

  </head>
  <body oncontextmenu="return false;">
    <div id="screen">

    </div>
    <!-- <div style="left: -10000000px; top: 100px">
      <canvas id='screen1' style="left: 10000000px; top: 0; z-index: 0; transform: scale(2, 2);"></canvas>
      <canvas id='screen2' style="left: 10000200px; top: 200px; z-index: 1; transform: scale(2, 2); transform: "></canvas>
    </div> -->
  </body>
</html>
