<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fritz_179 >>> TEST</title>

    <%- include('libraries', {fritz: 3}) %>
    <script src="./main.js"></script>
    <script src="./Background.js"></script>
    <script src="./Player.js"></script>
    <script src="./Overlay.js"></script>

  </head>
  <body oncontextmenu="return false;">

  </body>
</html>
