html {
  background: var(--secondary);
  min-width: 40rem;
}

.main {
  padding: 3rem;
  margin: auto;
  max-width: 65rem;
}

pre {
  color: #000;
  font-size: 1.5rem;
}

footer .copy {
  padding: 0;
}
