<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jessica</title>
  </head>

  <body>
    <link rel="stylesheet" href="./style.css">

    <div class="container">
    <nav class="nav">
      <img src="./banner.jpg" id="banner" alt="Jessica">

      <ul>
        <li><a href="#">Galleria </a></li>
        <li><a href="#">Chi sono </a></li>
        <li><a href="#">Servizi </a></li>
        <li><a href="#">Locazioni </a></li>
        <li><a href="#">Prenota ora </a></li>
        <li><a href="#">Anonimità </a></li>
      </ul>
    </nav>
  </div>

  <hr>
  <div class="intro">
    <p>Salve, io sono Jessica Garibaldi</p>
    <p>In poche parole mi piace il cazzo e voglio rifarmi le tette</p>
  </div>


  <div class="galleria">
    <img src="./4.jpg">
    <img src="./2.jpg">
    <img src="./3.jpg">
    <img src="./placeholder.jpg">
    <img src="./placeholder.jpg">
    <img src="./placeholder.jpg">
    <img src="./placeholder.jpg">
    <img src="./placeholder.jpg">
    <img src="./placeholder.jpg">
  </div>

  </body>
</html>
