<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

  </head>
  <body>

    <%- include('navbar') %>

    <!-- Articles -->
    <div class="register-wrapper">
      <section class="register">
        <%- include('messages') %>

        <h1>Register</h1>
        <form method="post" action="/users/register">
          <div><label>Name:</label><input name="name" type="text"></div>
          <div><label>Username:</label><input name="username" type="text"></div>
          <div id="mail"><label>Email:</label><input name="email" type="text"></div>
          <div><label>Password:</label><input name="password1" type="password"></div>
          <div><label>Confirm Password:</label><input name="password2" type="password"></div>
          <input class="btn" type="submit" value="Create account">
        </form>
        <h6>Do you already have an account? <a class="link" href='/users/login'>click here to log in.</a></h6>
        <h6>Forgot your password? <a class="link" href='/users/reset'>click here to reset your password.</a></h6>
        <%- include('footer') %>
      </section>
    </div>

  </body>

  <link rel="stylesheet" href="./style.css">
</html>
