<!DOCTYPE html>
<html>
  <head>
    <style> body {padding: 0; margin: 0;} </style>

    <%- include('libraries', {p5: true}) %>

    <script src="sketch.js"></script>
    <script src="players.js"></script>
    <script src="enemys.js"></script>
    <script src="bullets.js"></script>
    <script src="room.js"></script>
    <script src="gamestatus.js"></script>

    <script src="mobs/bomber.js"></script>
    <script src="mobs/archer.js"></script>

    <style type="text/css">
    body {
           overflow:hidden;
         }
  </style>
  </head>
  <body>
  </body>
</html>
