<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

  </head>
  <body>

    <%- include('navbar') %>

    <div class="wrapper">

      <div class="report">

        <h1>Please follow the instructions to submit a bug report!</h1>
        <p>Mandum an DM su whatsapp e disum qual ca le al problema e i pas par al ricreà...</p>

        <%- include('footer') %>
      </div>

    </div>


  </body>

  <link rel="stylesheet" href="./style.css">
</html>
