<!DOCTYPE html>
<html>
  <head>
    <style> body {padding: 0; margin: 0;} </style>

    <%- include('libraries', {p5: true}) %>

    <link href="style.css" rel="stylesheet"></link>
    <script src="sketch.js"></script>
    <script src="cubi.js"></script>

  </head>
  <body>
    <style type="text/css">
  body {
         overflow:hidden;
       }
</style>
  </body>
</html>
