<!doctype html>
<html lang="en">
  <head>
    <title><%= locals.title ? title : 'Fritz_179' %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
