<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

    <link rel="stylesheet" href="./style.css">
  </head>
  <body>

    <%- include('navbar') %>

    <div style="text-align: center; padding-top: 4rem;">
      <h1 style="margin: 0;">Grazie per l'acquisto ;-)</h1>
    </div>

  </body>

  <script src="./main.js" charset="utf-8"></script>
  <%- include('footer') %>
</html>
