<!DOCTYPE html>
<html>
  <head>
    <%- include('navbar') %>

    <title>Fritz_179</title>
    <script type="module" src="./js/main.js"></script>
  </head>

  <body>
    <canvas id="screen" width="1000" height="1000"><canvas>
  </body>
</html>
